<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Baixe agora! - BágDex</title>
	<meta name="description" content="Com o aplicativo da Bágdex você vai conhecer e aprender sobre todos os 151 monstrinhos baseados no nosso país! Baixe agora gratuitamente para iOS e Android!" />
	<link rel="canonical" href="https://bagdex.com.br/" />
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Baixe agora! - BágDex" />
	<meta property="og:description" content="Com o aplicativo da Bágdex você vai conhecer e aprender sobre todos os 151 monstrinhos baseados no nosso país! Baixe agora gratuitamente para iOS e Android!" />
	<meta property="og:url" content="https://bagdex.com.br/" />
	<meta property="og:site_name" content="BágDex" />
	<meta property="article:modified_time" content="2022-09-27T01:17:22+00:00" />
	<meta property="og:image" content="https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1024x941.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:label1" content="Est. tempo de leitura" />
	<meta name="twitter:data1" content="3 minutos" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://bagdex.com.br/","url":"https://bagdex.com.br/","name":"Baixe agora! - BágDex","isPartOf":{"@id":"https://bagdex.com.br/#website"},"about":{"@id":"https://bagdex.com.br/#organization"},"primaryImageOfPage":{"@id":"https://bagdex.com.br/#primaryimage"},"image":{"@id":"https://bagdex.com.br/#primaryimage"},"thumbnailUrl":"https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1024x941.png","datePublished":"2022-09-16T20:56:42+00:00","dateModified":"2022-09-27T01:17:22+00:00","description":"Com o aplicativo da Bágdex você vai conhecer e aprender sobre todos os 151 monstrinhos baseados no nosso país! Baixe agora gratuitamente para iOS e Android!","breadcrumb":{"@id":"https://bagdex.com.br/#breadcrumb"},"inLanguage":"pt-BR","potentialAction":[{"@type":"ReadAction","target":["https://bagdex.com.br/"]}]},{"@type":"ImageObject","inLanguage":"pt-BR","@id":"https://bagdex.com.br/#primaryimage","url":"https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2.png","contentUrl":"https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2.png","width":2481,"height":2280},{"@type":"BreadcrumbList","@id":"https://bagdex.com.br/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home"}]},{"@type":"WebSite","@id":"https://bagdex.com.br/#website","url":"https://bagdex.com.br/","name":"BágDex","description":"P&aacute;gina do projeto da B&aacute;gDex","publisher":{"@id":"https://bagdex.com.br/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://bagdex.com.br/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"pt-BR"},{"@type":"Organization","@id":"https://bagdex.com.br/#organization","name":"BágDex","url":"https://bagdex.com.br/","sameAs":[],"logo":{"@type":"ImageObject","inLanguage":"pt-BR","@id":"https://bagdex.com.br/#/schema/logo/image/","url":"https://bagdex.com.br/wp-content/uploads/2022/09/logo_bagdex_01.png","contentUrl":"https://bagdex.com.br/wp-content/uploads/2022/09/logo_bagdex_01.png","width":3000,"height":1922,"caption":"BágDex"},"image":{"@id":"https://bagdex.com.br/#/schema/logo/image/"}}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel="alternate" type="application/rss+xml" title="Feed para BágDex &raquo;" href="https://bagdex.com.br/feed/" />
<link rel="alternate" type="application/rss+xml" title="Feed de comentários para BágDex &raquo;" href="https://bagdex.com.br/comments/feed/" />


	<link rel='stylesheet' id='wp-block-library-css' href='https://bagdex.com.br/wp-includes/css/dist/block-library/style.min.css?ver=6.1.1' media='all' />
<link rel='stylesheet' id='classic-theme-styles-css' href='https://bagdex.com.br/wp-includes/css/classic-themes.min.css?ver=1' media='all' />
<style id='global-styles-inline-css'>
</style>

<link rel='stylesheet' id='hello-elementor-theme-style-css' href='https://bagdex.com.br/wp-content/themes/hello-elementor/theme.min.css?ver=2.6.1' media='all' />
<link rel='stylesheet' id='elementor-frontend-css' href='https://bagdex.com.br/wp-content/plugins/elementor/assets/css/frontend-lite.min.css?ver=3.7.6' media='all' />
<link rel='stylesheet' id='elementor-post-5-css' href='https://bagdex.com.br/wp-content/uploads/elementor/css/post-5.css?ver=1663373832' media='all' />
<link rel='stylesheet' id='elementor-icons-css' href='https://bagdex.com.br/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.16.0' media='all' />
<link rel='stylesheet' id='elementor-global-css' href='https://bagdex.com.br/wp-content/uploads/elementor/css/global.css?ver=1663373832' media='all' />
<link rel='stylesheet' id='elementor-post-38-css' href='https://bagdex.com.br/wp-content/uploads/elementor/css/post-38.css?ver=1664422195' media='all' />

<link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=6.1.1' media='all' />
<script src='https://bagdex.com.br/wp-includes/js/jquery/jquery.min.js?ver=3.6.1' id='jquery-core-js'></script>
<script src='https://bagdex.com.br/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
<link rel="https://api.w.org/" href="https://bagdex.com.br/wp-json/" /><link rel="alternate" type="application/json" href="https://bagdex.com.br/wp-json/wp/v2/pages/38" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://bagdex.com.br/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://bagdex.com.br/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 6.1.1" />
<link rel='shortlink' href='https://bagdex.com.br/' />
<link rel="alternate" type="application/json+oembed" href="https://bagdex.com.br/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fbagdex.com.br%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://bagdex.com.br/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fbagdex.com.br%2F&#038;format=xml" />
<meta name="generator" content="Site Kit by Google 1.83.0" /><link rel="icon" href="https://bagdex.com.br/wp-content/uploads/2022/09/cropped-caralata_rosto-32x32.png" sizes="32x32" />
<link rel="icon" href="https://bagdex.com.br/wp-content/uploads/2022/09/cropped-caralata_rosto-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://bagdex.com.br/wp-content/uploads/2022/09/cropped-caralata_rosto-180x180.png" />
<meta name="msapplication-TileImage" content="https://bagdex.com.br/wp-content/uploads/2022/09/cropped-caralata_rosto-270x270.png" />
</head>
<body class="home page-template-default page page-id-38 wp-custom-logo elementor-default elementor-kit-5 elementor-page elementor-page-38">






				<div data-elementor-type="wp-page" data-elementor-id="38" class="elementor elementor-38">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-52108994 elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-height-default" data-id="52108994" data-element_type="section">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-605c0de1" data-id="605c0de1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2c32a5c2 elementor-widget elementor-widget-heading" data-id="2c32a5c2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.7.6 - 15-09-2022 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h1 class="elementor-heading-title elementor-size-default">O aplicativo da Bágdex chegou!</h1>		</div>
				</div>
				<div class="elementor-element elementor-element-5a3a58a3 elementor-widget elementor-widget-text-editor" data-id="5a3a58a3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.7.6 - 15-09-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>Conheça todos os Bágmon e monte seu time em um aplicativo interativo totalmente narrado. Aprenda sobre a fauna, flora, folclore e cultura do nosso Brasil de uma forma única!</p>						</div>
				</div>
				<div class="elementor-element elementor-element-69d5d26 elementor-align-left elementor-invisible elementor-widget elementor-widget-button" data-id="69d5d26" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://onelink.to/c42wyp" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Baixar</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5e7dd271" data-id="5e7dd271" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-12105da elementor-widget elementor-widget-image" data-id="12105da" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.7.6 - 15-09-2022 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>												<img decoding="async" width="800" height="735" src="https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1024x941.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1024x941.png 1024w, https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-300x276.png 300w, https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-768x706.png 768w, https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1536x1412.png 1536w, https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-2048x1882.png 2048w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f9a0a elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-height-default" data-id="f9a0a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-465eb256" data-id="465eb256" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-48e05323 elementor-widget elementor-widget-heading" data-id="48e05323" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">A Jornada está prestes a começar!</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-6677d0f1 elementor-widget elementor-widget-text-editor" data-id="6677d0f1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>A Bágdex é um projeto autoral que se iniciou em 2021, com o objetivo de enaltecer a cultura e a diversidade do nosso país através de personagens e histórias. Um universo que está sendo criado e expandido cada vez mais para mostrar tudo o que temos de incrível no Brasil. Seja criança, jovem ou adulto, a Bágdex foi pensada e criada para gerar conexão com o povo brasileiro de uma forma lúdica e diferente. Esse aplicativo é o primeiro passo de uma grande jornada. Venha conhecer cada um dos Bágmon e se aventurar conosco!</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-73bcb240 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="73bcb240" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21678f9a" data-id="21678f9a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-19378797 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="19378797" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-60dae843" data-id="60dae843" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2285a0a8 elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="2285a0a8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Já escolheu seu inicial?</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-5a070316 elementor-widget elementor-widget-text-editor" data-id="5a070316" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Toda jornada precisa de um companheiro inicial!</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-65790715 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="65790715" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-932b0fd" data-id="932b0fd" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-272a1f2a elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="272a1f2a" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.7.6 - 15-09-2022 */
.elementor-widget-image-box .elementor-image-box-content{width:100%}@media (min-width:768px){.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper,.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{text-align:right;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper{text-align:left;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.elementor-widget-image-box.elementor-position-top .elementor-image-box-img{margin:auto}.elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}}@media (max-width:767px){.elementor-widget-image-box .elementor-image-box-img{margin-left:auto!important;margin-right:auto!important;margin-bottom:15px}}.elementor-widget-image-box .elementor-image-box-img{display:inline-block}.elementor-widget-image-box .elementor-image-box-title a{color:inherit}.elementor-widget-image-box .elementor-image-box-wrapper{text-align:center}.elementor-widget-image-box .elementor-image-box-description{margin:0}</style><div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><a href="/"><img decoding="async" width="1014" height="1014" src="https://bagdex.com.br/wp-content/uploads/2022/09/img_inicial_site_01-1.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" /></a></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title"><a href="/">Voara</a></span><p class="elementor-image-box-description">O inicial de planta da Bágdex.</p></div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6f0221fb" data-id="6f0221fb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-64965c4 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="64965c4" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><a href="/"><img decoding="async" width="1014" height="1014" src="https://bagdex.com.br/wp-content/uploads/2022/09/img_inicial_site_02-1.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" /></a></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title"><a href="/">Pequemico</a></span><p class="elementor-image-box-description">O inicial de fogo da Bágdex.</p></div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-9f742b7" data-id="9f742b7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-27c91813 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="27c91813" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><a href="/"><img decoding="async" width="1014" height="1014" src="https://bagdex.com.br/wp-content/uploads/2022/09/img_inicial_site_03-1.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" /></a></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title"><a href="/">Capi</a></span><p class="elementor-image-box-description">O inicial de água da Bágdex.</p></div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-626d3343" data-id="626d3343" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-14876e8e elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="14876e8e" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><a href="/"><img decoding="async" width="1014" height="1014" src="https://bagdex.com.br/wp-content/uploads/2022/09/img_inicial_site_04-1.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" /></a></figure><div class="elementor-image-box-content"><span class="elementor-image-box-title"><a href="/">Tamanduí</a></span><p class="elementor-image-box-description">O inicial de terra da Bágdex.</p></div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-330df451 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="330df451" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7bd1ad34" data-id="7bd1ad34" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-073b881 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="073b881" data-element_type="widget" data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=AcgrD5sXD1k&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.7.6 - 15-09-2022 */
.elementor-widget-video .elementor-widget-container{overflow:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:50%}.elementor-widget-video .elementor-custom-embed-image-overlay{cursor:pointer;text-align:center}.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i{opacity:1}.elementor-widget-video .elementor-custom-embed-image-overlay img{display:block;width:100%}.elementor-widget-video .e-hosted-video .elementor-video{-o-object-fit:cover;object-fit:cover}.e-container>.elementor-widget-video{width:var(--container-widget-width,100%)}</style>		<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
			<div class="elementor-video"></div>		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3162154e elementor-widget elementor-widget-heading" data-id="3162154e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Faça parte da comunidade Bágdex</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7d270fd elementor-widget elementor-widget-text-editor" data-id="7d270fd" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Em nosso Discord você fica por dentro de todas as novidades do projeto, além de desafios e bate-papos exclusivos</p>						</div>
				</div>
				<div class="elementor-element elementor-element-4e09c147 elementor-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="4e09c147" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://discord.gg/NRXRgVBzN3" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Entrar no Discord</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f53e38b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f53e38b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-22856bb" data-id="22856bb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0133faa elementor-widget elementor-widget-image" data-id="0133faa" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="879" src="https://bagdex.com.br/wp-content/uploads/2022/09/img_jogo-932x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://bagdex.com.br/wp-content/uploads/2022/09/img_jogo-932x1024.png 932w, https://bagdex.com.br/wp-content/uploads/2022/09/img_jogo-273x300.png 273w, https://bagdex.com.br/wp-content/uploads/2022/09/img_jogo-768x844.png 768w, https://bagdex.com.br/wp-content/uploads/2022/09/img_jogo.png 1259w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6f8bd63" data-id="6f8bd63" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-df8b60f elementor-widget elementor-widget-heading" data-id="df8b60f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">O Jogo da Bágdex vem aí!</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-989a014 elementor-widget elementor-widget-text-editor" data-id="989a014" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>A nossa Jornada está apenas começando.</p><p>Em breve iniciaremos um <strong>financiamento coletivo</strong> para a produção do jogo <strong>&#8220;Bágdex &#8211;  Jornada Brasil&#8221;</strong> em parceria com a <strong>Dumativa</strong>.</p><p>Fiquem ligados em todas as novidades e anúncios em nosso Discord.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				<div class="post-tags">
					</div>
			</div>

	<section id="comments" class="comments-area">

	


</section><!-- .comments-area -->
</main>





<link rel='stylesheet' id='e-animations-css' href='https://bagdex.com.br/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.7.6' media='all' />
<script src='https://bagdex.com.br/wp-content/themes/hello-elementor/assets/js/hello-frontend.min.js?ver=1.0.0' id='hello-theme-frontend-js'></script>
<script src='https://bagdex.com.br/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.7.6' id='elementor-webpack-runtime-js'></script>
<script src='https://bagdex.com.br/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.7.6' id='elementor-frontend-modules-js'></script>
<script src='https://bagdex.com.br/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script src='https://bagdex.com.br/wp-includes/js/jquery/ui/core.min.js?ver=1.13.2' id='jquery-ui-core-js'></script>
<script id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Compartilhar no Facebook","shareOnTwitter":"Compartilhar no Twitter","pinIt":"Fixar","download":"Baixar","downloadImage":"Baixar imagem","fullscreen":"Tela cheia","zoom":"Zoom","share":"Compartilhar","playVideo":"Reproduzir v\u00eddeo","previous":"Anterior","next":"Pr\u00f3ximo","close":"Fechar"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"Celular","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Celular extra","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet extra","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,"direction":"min","is_enabled":false}}},"version":"3.7.6","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"e_optimized_assets_loading":true,"e_optimized_css_loading":true,"a11y_improvements":true,"additional_custom_breakpoints":true,"e_import_export":true,"e_hidden_wordpress_widgets":true,"hello-theme-header-footer":true,"landing-pages":true,"elements-color-picker":true,"favorite-widgets":true,"admin-top-bar":true},"urls":{"assets":"https:\/\/bagdex.com.br\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"body_background_background":"classic","active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description","hello_header_logo_type":"logo","hello_header_menu_layout":"horizontal","hello_footer_logo_type":"logo"},"post":{"id":38,"title":"Baixe%20agora%21%20-%20B%C3%A1gDex","excerpt":"","featuredImage":false}};
</script>
<script src='https://bagdex.com.br/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.7.6' id='elementor-frontend-js'></script>

</body>
</html>